/*
!/.git
!/.gitignore
!/alacritty/
!/aseprite/
!/audacity/
!/backgrounds/
!/blender/
!/btop/
!/easyeffects/
!/Element/
!/cava/
!/conky/
!/dunst/
!/fish/
!/GIMP/
!/gtk-2.0/
!/gtk-3.0/
!/gtk-4.0/
!/gpu-screen-recorder/
!/hypr/
!/i3/
!/kdeglobals
!/kitty/
!/lazygit/
!/mozc/
!/mpd/
!/mpv/
!/nicotine/
!/neofetch/
!/fcitx/
!/foot/
!/fuzzel/
!/fcitx5/
!/feishin/
!/nitrogen/
!/nvim/
!/nwg-look/
!/obsidian/
!/obs-studio/
!/OpenRGB/
!/picom/
!/polybar/
!/PCSetupGuide/
!/qt5ct/
!/qt6ct/
!/qtile/
!/QtProject/
!/QtProject.conf
!/quickshell/
!/rofi/
!/Thunar/
!/Vencord/
!/zed/
!/README
!/spicetify/
!/vlc/
!/wal/
!/wallust/
!/xsettingsd/
!/settings.zip
!/package_list.txt

!/install.sh

/backgrounds/test
/obs-studio/logs/
/obs-studio/safe_mode
/OpenRGB/logs/
fish/fish_variables
/backgrounds/test
